{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">About Us</h1>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nihil nobis sint. Deleniti minima nesciunt nihil odio quae. Accusantium cumque fugiat id illum ipsum maiores nisi praesentium reiciendis repellat, ullam!
    </div>
{% endblock %}

{% block title %}
 {{ parent() }} | Contact
{% endblock %}

