{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
        <h1 class="title">{{ app.user.username | upper }}'s Fucking Bucket-List ! </h1>
    {% else %}
        <h1 class="title"> The Bucket-List </h1>
    {% endif %}
{% endblock %}
