{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">List of Wish</h1>

    <div class="container">
    {% for whish in whishes %}
        {% if whish.publish %}
        <a href="{{ path('whish_detail', {'id': whish.id}) }}">
        <h4>{{ whish.title }}</h4>
        </a>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}

{% block title %}
    {{ parent() }} | List of Wish
{% endblock %}

